In [2]:
import sys
sys.executable

'c:\\Users\\user\\Desktop\\Análisis-data-impostor\\game-scoring-analysis\\.venv\\Scripts\\python.exe'

In [ ]:
import numpy as np
import pandas as pd
from collections import Counter

In [15]:
rng = np.random.default_rng(42)

impostors = {1}
votes = []
game_id = 1
round_id = 1
match_id = 0
votes = []
game_results = []
votes_for_round = []
impostors_wins = False 
R_values = list(range(1,6))
P_values = list(range(3,10))

for p in P_values:
    players = []
    players = list(range(p))
    players_alive = players.copy()
    for r in R_values:
        for m in  range(0, 1000):
            match_id += 1
            round_id = 1
            players_alive = players.copy()
            for i in range(r):
                impostors_wins = False
                game_id = 1
                impostors ={rng.choice(players)}
                players_alive = players.copy()
                while any(imp in players_alive for imp in impostors) and not impostors_wins:
                    votes_for_round = []
                    for voter in players_alive:
                        # no se vota a sí mismo
                        possible_targets = [p for p in players_alive if p != voter]

                        target = rng.choice(possible_targets)

                        votes.append({
                            "P": p,
                            "R": r,
                            "match": match_id,
                            "game": game_id,
                            "round": round_id,
                            "voter": voter,
                            "target": target,
                            "voter_role": "impostor" if voter in impostors else "civil",
                            "target_role": "impostor" if target in impostors else "civil"
                        })

                        votes_for_round.append(
                             target
                        )
                    count_votes = Counter(votes_for_round)
                    (max_voted, quantity_of_votes_for_most_voted) = count_votes.most_common(1)[0]
                    most_voted = []
                    most_voted = [ player for player, votes in count_votes.items()
                                if votes == quantity_of_votes_for_most_voted]                                                                


                    if len(most_voted) > 1:
                        #integer = rng.integers(0, len(most_voted))
                        #eliminated = most_voted.index[integer]
                        eliminated = rng.choice(most_voted)
                        players_alive.remove(eliminated)
                    else:
                        eliminated = most_voted[0]
                        players_alive.remove(eliminated)

                    alive_set = set(players_alive)
                    impostors_wins = len(alive_set & impostors) >= len(alive_set - impostors)

                    game_results.append({
                        "P": p,
                        "R": r,
                        "match_id": match_id,
                        "round": round_id,
                        "game_id": game_id,
                        "eliminated": eliminated,
                        "impostors_wins": impostors_wins
                        })
                    game_id += 1
                round_id += 1

In [16]:
votes_df = pd.DataFrame(votes)
results_df = pd.DataFrame(game_results)

In [ ]:
from IPython.display import display

display(votes_df.head())
display(votes_df.columns)
display(votes_df.dtypes)

display(votes_df.isna().sum())

In [27]:
display(votes_df.head())
display(votes_df.info())
display(votes_df.describe())

   P  R  match  game  round  voter  target voter_role target_role
0  3  1      1     1      1      0       2   impostor       civil
1  3  1      1     1      1      1       2      civil       civil
2  3  1      1     1      1      2       0      civil    impostor
3  3  1      2     1      1      0       2      civil       civil
4  3  1      2     1      1      1       0   impostor       civil

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1632399 entries, 0 to 1632398
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   P            1632399 non-null  int64
 1   R            1632399 non-null  int64
 2   match        1632399 non-null  int64
 3   game         1632399 non-null  int64
 4   round        1632399 non-null  int64
 5   voter        1632399 non-null  int64
 6   target       1632399 non-null  int64
 7   voter_role   1632399 non-null  object
 8   target_role  1632399 non-null  object
dtypes: int64(7), object(2)
memory usage: 112.1+ MB

None

,P,R,match,game,round,voter,target
count,1.632399e+06,1.632399e+06,1.632399e+06,1.632399e+06,1.632399e+06,1.632399e+06,1.632399e+06
mean,7.202980e+00,3.666857e+00,2.418171e+04,2.299731e+00,2.333033e+00,3.101550e+00,3.100437e+00
std,1.668692e+00,1.246363e+00,8.441773e+03,1.421553e+00,1.247158e+00,2.273389e+00,2.272867e+00
min,3.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,6.000000e+00,3.000000e+00,1.859600e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
50%,8.000000e+00,4.000000e+00,2.597900e+04,2.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00
75%,9.000000e+00,5.000000e+00,3.142400e+04,3.000000e+00,3.000000e+00,5.000000e+00,5.000000e+00
max,9.000000e+00,5.000000e+00,3.500000e+04,7.000000e+00,5.000000e+00,8.000000e+00,8.000000e+00

In [23]:
votes_df[(votes_df['P'] == 5) & (votes_df['R'] == 5) & (votes_df['match'] == 14001)]

        P  R  match  game  round  voter  target voter_role target_role
238469  5  5  14001     1      1      0       2   impostor       civil
238470  5  5  14001     1      1      1       4      civil       civil
238471  5  5  14001     1      1      2       0      civil    impostor
238472  5  5  14001     1      1      3       0      civil    impostor
238473  5  5  14001     1      1      4       1      civil       civil
238474  5  5  14001     1      2      0       3      civil       civil
238475  5  5  14001     1      2      1       4      civil       civil
238476  5  5  14001     1      2      2       3   impostor       civil
238477  5  5  14001     1      2      3       2      civil    impostor
238478  5  5  14001     1      2      4       3      civil       civil
238479  5  5  14001     2      2      0       1      civil       civil
238480  5  5  14001     2      2      1       4      civil       civil
238481  5  5  14001     2      2      2       1   impostor       civil
238482  5  5  14001     2      2      4       1      civil       civil
238483  5  5  14001     3      2      0       4      civil       civil
238484  5  5  14001     3      2      2       0   impostor       civil
238485  5  5  14001     3      2      4       0      civil       civil
238486  5  5  14001     1      3      0       3      civil       civil
238487  5  5  14001     1      3      1       3      civil       civil
238488  5  5  14001     1      3      2       3      civil       civil
238489  5  5  14001     1      3      3       4      civil    impostor
238490  5  5  14001     1      3      4       0   impostor       civil
238491  5  5  14001     2      3      0       2      civil       civil
238492  5  5  14001     2      3      1       2      civil       civil
238493  5  5  14001     2      3      2       1      civil       civil
238494  5  5  14001     2      3      4       0   impostor       civil
238495  5  5  14001     3      3      0       1      civil       civil
238496  5  5  14001     3      3      1       0      civil       civil
238497  5  5  14001     3      3      4       1   impostor       civil
238498  5  5  14001     1      4      0       2      civil    impostor
238499  5  5  14001     1      4      1       2      civil    impostor
238500  5  5  14001     1      4      2       1   impostor       civil
238501  5  5  14001     1      4      3       1      civil       civil
238502  5  5  14001     1      4      4       1      civil       civil
238503  5  5  14001     2      4      0       2      civil    impostor
238504  5  5  14001     2      4      2       4   impostor       civil
238505  5  5  14001     2      4      3       0      civil       civil
238506  5  5  14001     2      4      4       2      civil    impostor
238507  5  5  14001     1      5      0       3      civil       civil
238508  5  5  14001     1      5      1       3   impostor       civil
238509  5  5  14001     1      5      2       3      civil       civil
238510  5  5  14001     1      5      3       2      civil       civil
238511  5  5  14001     1      5      4       2      civil       civil
238512  5  5  14001     2      5      0       4      civil       civil
238513  5  5  14001     2      5      1       4   impostor       civil
238514  5  5  14001     2      5      2       1      civil    impostor
238515  5  5  14001     2      5      4       0      civil       civil
238516  5  5  14001     3      5      0       1      civil    impostor
238517  5  5  14001     3      5      1       0   impostor       civil
238518  5  5  14001     3      5      2       1      civil    impostor

In [29]:
votes_df["correct_vote"] = (votes_df["target_role"] == "impostor")

In [30]:
votes_df["correct_vote"].dtype

dtype('bool')

In [31]:
votes_df["correct_vote"].mean()

np.float64(0.18828668726212158)

In [32]:
acc_by_P = (
    votes_df
    .groupby("P")["correct_vote"]
    .mean()
    .reset_index(name="accuracy")
)

acc_by_P

   P  accuracy
0  3  0.332533
1  4  0.281033
2  5  0.240489
3  6  0.209184
4  7  0.185524
5  8  0.164921
6  9  0.149814

In [33]:
acc_by_PR = (
    votes_df
    .groupby(["P","R"])["correct_vote"]
    .mean()
    .reset_index(name="accuracy")
)

acc_by_PR.head(10)

   P  R  accuracy
0  3  1  0.320333
1  3  2  0.332000
2  3  3  0.334111
3  3  4  0.328833
4  3  5  0.337200
5  4  1  0.284301
6  4  2  0.282068
7  4  3  0.284391
8  4  4  0.283997
9  4  5  0.275638

In [35]:
score_df = (
    votes_df
    .groupby(["P", "R", "match", "voter"])["correct_vote"]
    .sum()
    .reset_index(name="points")
)

In [36]:
score_df

        P  R  match  voter  points
0       3  1      1      0       0
1       3  1      1      1       0
2       3  1      1      2       1
3       3  1      2      0       0
4       3  1      2      1       0
...    .. ..    ...    ...     ...
209995  9  5  35000      4       3
209996  9  5  35000      5       3
209997  9  5  35000      6       3
209998  9  5  35000      7       2
209999  9  5  35000      8       4

[210000 rows x 5 columns]

In [37]:
score_stats = (
    score_df
    .groupby(["P", "R"])["points"]
    .agg(mean_points="mean", std_points="std")
    .reset_index()
)

In [39]:
score_stats["cv"] = score_stats["std_points"] / score_stats["mean_points"]

In [40]:
score_stats

    P  R  mean_points  std_points        cv
0   3  1     0.320333    0.466682  1.456865
1   3  2     0.664000    0.673737  1.014665
2   3  3     1.002333    0.828587  0.826658
3   3  4     1.315333    0.924220  0.702651
4   3  5     1.686000    1.057250  0.627076
5   4  1     0.445500    0.551911  1.238858
6   4  2     0.881250    0.780577  0.885761
7   4  3     1.327750    0.979576  0.737772
8   4  4     1.766250    1.105403  0.625848
9   4  5     2.169750    1.229355  0.566588
10  5  1     0.482200    0.612011  1.269207
11  5  2     0.959000    0.868487  0.905617
12  5  3     1.429400    1.045196  0.731213
13  5  4     1.931000    1.211500  0.627395
14  5  5     2.393400    1.336186  0.558280
15  6  1     0.500000    0.639324  1.278647
16  6  2     1.006000    0.925981  0.920458
17  6  3     1.479667    1.110162  0.750278
18  6  4     1.996500    1.301577  0.651930
19  6  5     2.476167    1.429722  0.577393
20  7  1     0.517143    0.682475  1.319704
21  7  2     1.043286    0.974741  0.934299
22  7  3     1.533714    1.171166  0.763614
23  7  4     2.035000    1.345162  0.661013
24  7  5     2.540286    1.512941  0.595579
25  8  1     0.517000    0.704289  1.362261
26  8  2     1.029000    1.001141  0.972927
27  8  3     1.566375    1.223430  0.781058
28  8  4     2.053875    1.405692  0.684410
29  8  5     2.575500    1.576265  0.612023
30  9  1     0.503333    0.707295  1.405223
31  9  2     1.051222    1.041818  0.991054
32  9  3     1.553556    1.251655  0.805671
33  9  4     2.054333    1.437223  0.699606
34  9  5     2.580667    1.598332  0.619349

In [41]:
score_stats[score_stats["P"] == 6].plot(
    x="R",
    y="cv",
    marker="o",
    title="Coeficiente de variación vs R (P=6)"
)

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.